
.body-container-result{
    /* border: 1px solid red; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #46178F;
    display: none;
  }
  
  .userInfo-container{
    /* border: 1px solid orange; */
    text-align: center;  
    font-family: 'Arimo', sans-serif;
    color:white;  
  }
  
  
  #userTitle{
    /* border: 1px solid pink; */
    font-weight: 600;
    font-size: 95px;
    margin-bottom: 15px;
  }
  
  #userScore{
    /* border: 1px solid blue; */
    margin-top: 0px;
    font-weight: 600;
    font-size: 80px;
  }
  
  .btn-ranking{
    /* border: 1px solid green; */
    font-weight: 600;
    border-radius: 11px;
    color: #ffffff;
    font-size: 25px;
    background: #43A4E4;
    border-color: #43A4E4;
    padding: 10px 20px 10px 20px;
    
  }
  
  .btn-ranking:hover {
    background: #3191cc;
  }