/*---------------------------------- Página principal----------------------------------------*/

.body-container-login{
  /* border: 1px solid rgb(235, 238, 56);  */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #46178F;
  
}

.container-login{
  /* border: 1px solid yellow;   */
  display: flex;
  flex-direction: column;
  align-items: center;  
  height: 300px;
  width: 500px;
}

.img-logo{
  margin-bottom: 35px;
}

form{
  /* border: 1px solid blueviolet; */
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px;
  width: 320px;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}


form input{
  border: 1px solid grey;  
  height: 48px;
  width: 18rem;
  line-height: 2.375rem;
  text-align: center;  
  color: rgb(51, 51, 51);
  outline: none;
  font-size: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
  font-weight: 700;

}

.btn-start{
  margin-top: 10px;
  border: 1px solid #2F2F2F;
  height: 48px;
  width: 18rem;
  line-height: 2.375rem;
  text-align: center;
  background-color: #2F2F2F;
  color:white;  
  font-size: 20px;
  border-radius: 4px;
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  box-sizing: border-box;

}

.btn-start:hover{
  background-color: #383838;

}

/*--------------------------------Preguntas Quiz----------------------------------------------------*/

.body-container-quiz {
  /* border: 1px solid rgb(48, 36, 219); */  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #46178F;
  display:none; 
}

.container-quiz{
  /* border: 1px solid yellow;   */
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 950px;
}

.question {
  /* border: 1px solid rgb(219, 36, 158); */
  color:white;
  text-align: center;  
  font-size: 60px;
  font-family: 'Arimo', sans-serif;
  font-weight: 600;

}

.options-container {
  /* border: 1px solid rgb(66, 219, 36); */  
	margin-bottom: 30px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.options {
  /* border: 1px solid rgb(36, 198, 219); */
  width: 150px;
  text-align: center;  
	margin:10px;

	width: 310px;
	height: 90px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: 600;
  font-family: 'Arimo', sans-serif;
	font-size: 20px;

  border-radius: 5px;
  color:white;
}

#option1{
	background-color: #FF5757;
}

#option2{
  background-color: #38B6FF;
}

#option3{
  background-color: #FFBD59;
}

#option4{
  background-color: #7ED957;
}


.btn-next {
  /* border: 1px solid rgb(84, 190, 209); */
  width: 70px; 
  opacity: 80%; 
  display:none;
}

.btn-next:hover {
  /* border: 1px solid rgb(84, 190, 209); */
  opacity: 100%;
}

.score{
  color:white;
  font-family: 'Arimo', sans-serif;
  font-weight: 600;
  font-size: 18px;
}



/*----------------------------------Resumen respuestas Quiz------------------------------------------*/

.body-container-result{
  /* border: 1px solid red; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #46178F;
  display: none;
}

.userInfo-container{
  /* border: 1px solid orange; */
  text-align: center;  
  font-family: 'Arimo', sans-serif;
  color:white;  
}


#userTitle{
  /* border: 1px solid pink; */
  font-weight: 600;
  font-size: 95px;
  margin-bottom: 15px;
}

#userScore{
  /* border: 1px solid blue; */
  margin-top: 0px;
  font-weight: 600;
  font-size: 80px;
}

.btn-ranking{
  /* border: 1px solid green; */
  font-weight: 600;
  border-radius: 11px;
  color: #ffffff;
  font-size: 25px;
  background: #43A4E4;
  border-color: #43A4E4;
  padding: 10px 20px 10px 20px;
  
}

.btn-ranking:hover {
  background: #3191cc;
}

/*----------------------------------Gráfica------------------------------------------*/

.body-container-graphic {
  border: 1px solid red;
  background-color: #46178F;
  padding-top: 30px;

  height: 96.5vh;

  display: flex;  
  flex-direction: column;
  align-items: center;
  display:none;
}

.title-ranking {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 65px;
  font-family: "Arimo", sans-serif;
  font-weight: 600;
}

.chart {
  /* border: 1px solid red; */
  border-radius: 1%;  
  background-color: rgba(255, 255, 255, 0.884);
  
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 40px;
  
  
  width: 500px;
  height: 500px;
  margin: 0 auto;
}


.play-btn {
  margin-top: 40px;
  border: 1px solid #43A4E4; 
  width: 18rem;  
  text-align: center;
  background-color: #43A4E4;
  color: white;
  font-size: 25px;
  border-radius: 11px;
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  box-sizing: border-box; 
  padding: 10px 20px 10px 20px;

}

.play-btn:hover {
  background: #3191cc;
}



/* @media only screen and (min-width: 768px) {
  .title {
    font-size: 3.5rem;
  }
} */


